/*!
 * Start Bootstrap - The Big Picture HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;
}

.full {

	/* Ovaa klasa ja prepisav vo style na html tagot od bigpicture_header.php fajlot */

  /* background: url(http://placehold.it/1920x1080) no-repeat center center fixed;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

.navToggle{
	position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 2147483638;
    border-radius: 24px;
}


div#windowButtons{
	position: fixed;
    top: 6px;
    right: 2px;
    width: 80px;
    height: 39px;
    padding: 3px 2px;
    background-color: rgba(5,5,5, 0.3);
    border-radius: 8px;
    filter: alpha(opacity=20);
    z-index: 2147483637;
}

.close {
  font-size: 40px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  text-decoration: none;
}
.close:hover {
  font-size: 44px;
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: pointer;
}
div.closePreview{
	position: fixed;
    top: 13px;
    right: 10px;
    padding: 3px 2px;
    z-index: 2147483638;
}

div#fullscreenDiv {
	position: fixed;
    top: 10px;
    right: 47px;
    padding: 3px 2px;
    z-index: 2147483638;
}

div#fullscreenDiv a.fullscreen {
  font-size: 23px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  text-decoration: none;
}
div#fullscreenDiv a.fullscreen:hover {
  font-size: 27px;
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: pointer;
}

*:fullscreen
*:-ms-fullscreen,
*:-webkit-full-screen,
*:-moz-full-screen {
   overflow: auto !important;
}